DAYTONA_API_KEY=''
OPENROUTER_API_KEY=''
TYPESAFE=""
# Postgres — your database connection
DATABASE_URL=""
DATABASE_URL_POOLED=""

# Storage — S3-compatible object storage
AWS_ENDPOINT_URL_S3=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
S3_BUCKET=""

# Functions — serverless endpoints
# Deploy a neon function with the 'neon deploy' cli command or deploy a function from one of Neon's sample templates with 'neon bootstrap'


NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=